.card-title{
    font-size: 0.9rem;
    font-weight: 700;
    text-align: left;
}
.Main-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}
@media (max-width: 768px) {
    .Main-row{
        flex-direction: column;
    }
    .custom-card{
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
    }
}
