.nav-item{
    margin: 0 1rem 0 1rem;
}

@media (max-width: 768px) {
    .nav-item{
        margin: 0 0.5rem 0 0.5rem;
        text-align: center;
        padding: 1rem 0 0.5rem 0;
    }
    .nav-item a{
        font-size: 1rem;
    }
    .nav-item a:hover{
        font-size: 1rem;
    }
    .nav-item a:active{
        font-size: 1rem;
    }
    .nav-item .nav-link{
        font-size: 1rem;
        margin: 0 auto;
    }
}